* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: rgb(40, 40, 40);
  padding: 3rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  appearance: none;
  background-color: rgb(57, 57, 57);
  border: 2px solid rgb(37, 149, 130);
  border-radius: 6px;
  padding: 1.2rem 2rem;
}
button:hover {
  background-color: rgb(40, 40, 40);
}

img {
  width: 100%;
}

select {
  color: black;
}